html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
	margin: 0;
}

.background-image {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 960px;
	z-index: -1;
}

button {
	border: none;
	outline: none;
	color: inherit;
}

ul {
    margin: 0;
}

/* HEADER */


.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 90px;
	margin-bottom: 130px;
}

.header__logo {
	width: 207px;
	height: 53px;
}

.header__menu {
	padding: 0;
	display: flex;
	gap: 84px;
	list-style-type: none;
}

.header__menu a {
	color: inherit;
	text-decoration: none;
	opacity: 0.7;
}

.header__menu a:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

.header__menu a.active {
	opacity: 1;
}

.menu__item {
	font-size: 24px;
	font-weight: 700;
}

.header__burger {
	display: flex;
	flex-direction: column;
	gap: 6px;
	cursor: pointer;
	opacity: 0.7;
}

.header__burger:hover {
	opacity: 1;
	transition: opacity 0.3s;
}

.burger-menu__line {
	display: block;
	width: 40px;
	height: 4px;
	background-color: #fff;
}


/* MAIN */

.info__wrapper {
	margin-bottom: 117px;
}

.info__title {
	margin-bottom: 35px;
	font-size: 64px;
	line-height: 77px;
}

.info__text {
	margin: 0;
	max-width: 565px;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
}

.popular {
	margin-bottom: 54px;
}

.popular__content {
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: flex-start;
}

.popular__button {
	width: 188px;
	padding: 12px 28px;
	background-color: #b70202;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	border-radius: 40px;
	cursor: pointer;
}

.popular__button:hover {
	opacity: 0.8;
}

.dest-popular {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 29px;
}

.dest-popular a {
	cursor: pointer;
	opacity: 1;
}

.dest-popular a:hover {
	opacity: 0.95;
}

.popular__item {
    width: 253px;
    height: 160px;
    object-fit: cover;
    border-radius: 30px;
}

/* FACTS */

.facts {
	background-color: #e8e8e8;
	position: relative;
	padding-bottom: 64px;
}

.facts__wrapper {
	padding-top: 35px;
}

.facts__button-block {
	display: flex;
	gap: 77px;
	margin-bottom: 61px;
}

.facts__button {
	padding: 0;
	width: 221px;
	height: 32px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	background-color: #B70202;
	border-radius: 16px;
}

.facts__button:hover {
	font-weight: 700;
	opacity: 0.8;
}

.facts-list{
	display: flex;
  	flex-direction: column;
	gap: 24px;
}

.facts-list__card {
	position: relative;
	display: flex;
	flex-direction: column;
}

.facts-container {
	width: 818px;
 	height: 318px;
	box-sizing: border-box;	 
	background-color: #fff;
    border-radius: 26px;
}

.facts-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 9px;
	margin-top: 0;
	text-align: left;
	height: 67px;
	padding: 30px 22px 0 22px;
    font-weight: 900;
    font-size: 28px;
    color: #000000;    
    line-height: 35px;
}

.facts-content {
	height: 190px;
	padding: 0 22px;
	display: flex;
	justify-content: space-between;
}

.facts-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #000000;
	
}

.facts-list__text {
	margin-bottom: 0;
	margin-top: 46px;
    width: 512px;
	height: 100px;
	text-align: left;
    font-weight: 500;	
}

.facts-list__button {
	margin-bottom: 0;
	margin-left: 306px;
	padding: 0;
	width: 208px;
	height: 32px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	color: #b70202;
	background-color: #D9D9D9;
	border-radius: 26px;
	cursor: pointer;
	opacity: 1;
}

.facts-list__button:hover {
	background-color: #B70202;
	color: #fff;
}

.facts-list__img {
	max-width: 100%;
    height: auto;
    width: 213px;
	height: 190px;
	object-fit: cover;
}

.facts-list__autor {
	margin: 0;
	height: 24px;
	display: flex;
	align-items: center;
	text-align: left;
	font-weight: 500;
	font-size: 13px;
	color: #000;
}

.facts-list__card:nth-of-type(2){
	align-self: flex-end;
}

.facts-list__card:nth-of-type(4){
	align-self: flex-end;
}

.tape-image-left {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: auto;
}

.tape-image-right {
	position: absolute;
	top: 0;
	right: 0;	
	height: 100%;
	width: auto;
}

/* FILMS */

.films {
	background-color: #2b2b2b;
	height: auto;
}

.films__header {
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: #B70202;
	height: 78px;
	margin: 0;
}

.films__header h2 {
	margin: 0 auto;
	max-width: 1100px;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.films-table {
	margin-top: 54px;
	display: flex;
    flex-wrap: wrap;
	gap: 7px 22px;
}

.films-card {
	flex: 1 0 20%;
    box-sizing: border-box;
    text-align: center;
	max-width: 202px;
	display: flex;
	justify-content: space-between;
}

.film-card__url {
	height: 100%;
	color: inherit;
    text-decoration: none;
	cursor: pointer;
	opacity: 1;
}

.film-card__url .films-card__text:hover {
	text-decoration: underline;
}

.film-card__url .films-card__img:hover{
	opacity: 0.7;
}

.films-card__img {
	width: 205px;
	height: 308px;
	object-fit: cover;
}

.films-card__text {
	margin: 0;
	padding-top: 15px;
	height: 61px;
	width: 100%;
	font-size: 20px;
}

.films-load {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px auto 0 auto;
	padding: 0;
	font-size: 15px;
	text-align: center;
	color: #FFFFFF;
	background-color: inherit;
}

/* FOOTER */

.footer {
	background-color: #D9D9D9;
	padding-top: 70px;
}

.footer-social {
	display: flex;
	align-items: center;
	gap: 224px;
}

.footer-social__email {
	width: 594px;
	height: 525px;
}

.footer-social__email label {
	display: block;
	color: #555;
}

.footer-social__email input[type="email"] {
	margin-top: 28px;
	width: 380px;
	height: 32px;
	border-radius: 26px;
	background-color: #2B2B2B;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: white;
	margin-bottom: 14px;
	padding-left: 20px;
}

.footer-social__email textarea {
	box-sizing: border-box;
	padding: 15px;
	background-color: white;
	width: 100%;
	height: 340px;
	border-radius: 26px;	
	font-size: 16px;
}

.footer-social__email input[type="submit"] {
	background-color: #B70202;
	color: white;
	cursor: pointer;
	font-size: 16px;
	border-radius: 26px;
	width: 175px;
	height: 34px;
	float: right;
	margin-top: 6px;
}

.footer-social__email input[type="submit"]:hover {
	background-color: #cc3434;
}

.footer-social__email-text {
	margin: 0;
	height: 38px;
	font-size: 16px;
	color: #000;
	line-height: 22px;
}

.footer-social__email-personal {
	width: 100%;
	margin: 0;
	font-size: 13px;
	color: #000;
}

.footer-social__buttons {
	display: flex;
	flex-direction: column;
	gap: 65px;
}

.social-button:hover {
	opacity: 0.7;
}

.footer__list {
	margin: 75px 64px 26px 64px;
	font-size: 13px;
	line-height: 20px;
	color: #2b2b2b;		
}

.footer__list ul {
	list-style-type: none;
	color: inherit;
	text-decoration: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.footer__list a {
	color: inherit;
	text-decoration: none;
}

.header_logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 210px;
}